/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container  {
    width: 800px;
    margin: 0 auto;
    border: 5px solid blue;
    border-width: 5px;
}

/******** WHAT I ADDED ****/

.Navigation {
	
    width:100%;
    border: 4px solid red;

}
.topheader {
	
	display: flex;
    border: 4px solid red;
	
}
.logo1 {
	
	display: flex;
	flex-direction:row;
    margin-top: 35px;
    border: 10px solid red;
}

header nav {
    
	margin-top: 52px; 
	display: flex;
	flex-direction:row;
	justify-content: space-around;
	flex-wrap: nowrap;
    padding-top: 1.5%
    
  }
  
  header nav a {
	
	font-size: 15px;
	color: black;
	text-decoration: none;
  }
  
  header nav a:hover {
	text-decoration: underline;
	 }



/*********/



     .middle-content {
        margin-bottom: 20px;
        border: 4px solid red;
    }
    
    .middle-content h2 {
        padding: 0 2%;
        margin-bottom: 0;
        border: 4px solid red;
    }
    
    .middle-content .boxes {
        border: 4px solid red;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .middle-content .boxes .box  {
        border: 4px solid red;
        width: 12.5%;
        color: white;
        height: 80px;
        margin: 30px 2.5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }



  .WorkTogether {
      margin-top: 50px;
      margin-bottom: 50px;
      border: 20px solid red;
  }






/******* what i added ****/
.Navigation {
	
	width:100%;

}
.topheader {
	
	display: flex;

	
}
.logo1 {
	
	display: flex;
	flex-direction:row;
    margin-top: 35px;
    border: 4px solid red;
}

header nav {
	margin-top: 52px; 
	display: flex;
	flex-direction:row;
	justify-content: space-around;
	flex-wrap: nowrap;
	padding-top: 1.5%
   
  }
  
  header nav a {
    border: 4px solid red;
	font-size: 15px;
	color: black;
	text-decoration: none;
  }
  
  header nav a:hover {
    text-decoration: underline;
    border: 4px solid red;
	 }


     .IOD .IOD-text {
	
        display:flex;
        width: 100%;
        justify-content: center;
        align-items: stretch;
        margin-top: 50px;
        border: 4px solid red;
         }



.aboutus {
    margin-top: 50px;
    border: 4px solid red;
    
}
 



/******* what i added ****/


.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border: 3px solid red;
    margin-top: 20px;
}

.top-content .container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
    border: 4px solid red;
}





.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
    border: 4px solid red;
}

.bottom-content .container {
    padding-right: 4%;
    border: 4px solid red;
}

.bottom-content .container:last-child {
    padding-right: 0;
    border: 4px solid red;
}

footer {
    width: 100%;
    background: black;
    border: 4px solid red;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
    border: 4px solid red;
}

footer nav a {
    color: white;
    text-decoration: none;
    border: 4px solid red;
}